<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Main - ABC Company.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}" />
    <!-- Place favicon.ico in the root directory -->
    <!-- {{ url_for('static', filename='jquery.min.js') }} -->

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">


    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LineIcons.2.0.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glightbox.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

</head>

<body>

    <!-- Start Services Area -->
    <section class="services style3 section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Services</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">What we offer</h2>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <span class="serial">01</span>
                            <h3><a href="/users">Users</a></h3>
                            <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity & aesthetics.
                            </p>
                            <div class="button">
                                <a href="/users" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                            <span class="serial">02</span>
                            <h3><a href="/teams">Teams</a></h3>
                            <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity & aesthetics.
                            </p>
                            <div class="button">
                                <a href="/teams" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <span class="serial">03</span>
                            <h3><a href="/gallery">Gallery</a></h3>
                            <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity & aesthetics.
                            </p>
                            <div class="button">
                                <a href="/gallery" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <span class="serial">04</span>
                            <h3><a href="service-details.html">Product</a></h3>
                            <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity & aesthetics.
                            </p>
                            <div class="button">
                                <a href="service-details.html" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                            <span class="serial">05</span>
                            <h3><a href="service-details.html">Document</a></h3>
                            <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity & aesthetics.
                            </p>
                            <div class="button">
                                <a href="service-details.html" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <span class="serial">06</span>
                            <h3><a href="service-details.html">Sign out</a></h3>
                            <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity & aesthetics.
                            </p>
                            <div class="button">
                                <a href="/sign-out" class="btn">Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Area -->

    <!-- ========================= JS here ========================= -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/count-up.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>