<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>User - ABC Company.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}" />
    <!-- Place favicon.ico in the root directory -->
    <!-- {{ url_for('static', filename='jquery.min.js') }} -->

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">


    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LineIcons.2.0.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glightbox.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

</head>

<body>

    <!-- start Registration section -->
    <section class="login registration section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <div class="form-head">
                        <h4 class="title">Add new product</h4>
                        <form action="/product-add-post" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Title</label>
                                <input name="title" type="text">
                            </div>
                            <div class="form-group">
                                <label>Detail</label>
                                <input name="detial" type="text">
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input name="price" type="text">
                            </div>
                            <div class="form-group">
                                <label>Picture</label>
                                <input name="image" type="file">
                            </div>
                            <div class="button ">
                                <button type="submit " class="btn ">Add new picture</button>
                            </div>
                            <!-- <p class="outer-link ">Already have an account? <a href="/sign-in "> Login Now</a> -->
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Registration section -->

    <!-- ========================= JS here ========================= -->
    <script src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/count-up.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/wow.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/tiny-slider.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/glightbox.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/imagesloaded.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/isotope.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/main.js' ) }} "></script>
</body>

</html>